<div class="container">
    <h1>Form to update a person</h1>
    <br>
    <div class="card">
        <form action="/update-a-person" method="post">

            <input type="hidden" name="id" value="{{person._id}}" <label for="">Name</label>
            <input type="text" name="name" id="name" class="form-control" value="{{person.name}}">
            <label for="">Gender</label>
            <input type="text" name="gender" id="gender" class="form-control" value="{{person.gender}}">
            <label for="">Age</label>
            <input type="text" name="age" id="age" class="form-control" value="{{person.age}}">
            <br>
            <button type="submit" class="btn btn-primary">Update person</button>
        </form>
    </div>
</div>